<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"></ion-refresher>
    <ion-item-sliding *ngFor="let photo of photoService.photos">
      <ion-item color="light">
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(photo.path)" />
        <ion-badge slot="end" color="light">{{photo.dateTaken | daysAgo}} days ago</ion-badge>
      </ion-item>
      <ion-item-options>
          <ion-item-option button color="danger" (click)="deletePhoto(photo)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>